@keyframes slide {
  0%   {color: #000000;}
  20%  {color: #45008a;}
  40%  {color: #8000ff;}
  60% {color: #45008a;}
  80% {color: #000000;}
  100% {color: #000000;}
}
p {
  animation-name: slide;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
